<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("UAbierta")}</%block>

<section class="static-container about">
<h1>${_("UAbierta")}</h1>
<p>
    UAbierta, la plataforma de cursos abiertos y en línea de la Universidad de Chile,
    nació para expandir y democratizar el acceso al conocimiento, ofreciendo
    oportunidades formativas a todos quienes deseen aprender y desarrollarse. No
    hay requisitos de estudios previos para acceder a los cursos, se proyecta así el
    compromiso histórico de la universidad con la educación pública de calidad, más
    allá de sus fronteras y prácticas tradicionales.
<br>
<br>

UAbierta también representa la voluntad de explorar y aprovechar las nuevas
tecnologías educativas desde un enfoque de innovación pedagógica. Se plantea
como un modelo de trabajo de extensión universitaria y vinculación con el medio,
ligado estrechamente con la investigación y creación académica.

<br>
<br>

Este proyecto nació en el año 2015 impulsado por la
 <a href="http://www.uchile.cl/iniciativaJGM"> Iniciativa Bicentenario</a> (IBJGM), proyecto institucional de la Universidad de Chile financiado con fondos
públicos orientado a la revitalización de las Humanidades, Ciencias Sociales, las
Artes y la Comunicación.

<br>
<br>

Los primeros cursos han sido realizados con la participación de destacados
académicos y académicas así como profesionales provenientes de las distintas
facultades de la Universidad de Chile, contando con el apoyo de la Vicerrectoría
de Extensión y Comunicaciones de nuestra casa de estudios.

<br>
<br>

La plataforma UAbierta ha sido desarrollada sobre <a href="https://open.edx.org/">OpenEDX</a>, plataforma de
aprendizaje en línea de código abierto de EDX, un consorcio de universidades y
entidades educativas liderado por la Universidad de Harvard y el Instituto de
Tecnología de Massachusetts (MIT), cuyo propósito es impulsar la investigación y
la innovación tecnológica al servicio del mejoramiento de la calidad de la
educación superior.
<br>
<br>
Este año 2018 se inicia una nueva etapa en el que el proyecto será coordinado por
el Instituto de la Comunicación e Imagen, ICEI y la Facultad de Ciencias Sociales
de la Universidad de Chile.
<br>
<br>
<strong>Comité editorial:</strong>
<ul>
<li> Roberto Aceituno, Decano Facultad de Ciencias Sociales </li>
<li> María Olivia Mönckeberg, Directora Instituto de la Comunicación e
Imagen. </li>
<li> Verónica Cornejo, Directora del INTA </li>
<li> Pablo Oyarzún, Senador Universitario, ex director IB. </li>
<li> Ximena Poo, Directora de Extensión Universidad de Chile </li>
<li> Fernando Gaspar, Director de Creación Artística </li>
<li> Loreto Rebolledo, académica ICEI, ex directora alterna IB. </li>

<li> Nicolás Acuña, Director de la carrera de Cine y TV. </li>
<li> Walter Imilán, académico Facultad de Arquitectura y Urbanismo </li>
<li> María Elena Acuña, Directora de Extensión FACSO. </li>
<li> María José Lacalle, Directora de Extensión y Comunicaciones ICEI </li>
<li>Marcela Ferrer-Lues, docente Facultad de Ciencias Sociales</li>
</ul>
<br>

Equipo profesional
<ul>
 <li> Coordinación General: María José Lacalle </li>
<li> Coordinación Operativa: Ricardo Madrid </li>
<li> Megatutoría: Raúl Domenech C. y Silvia Carozzi </li>
<li> Coordinación informática: César González </li>
<li> Administración de plataforma: Elías Estay </li>
<li> Diseño Gráfico: Gonzalo Contreras </li>
<li> Remontaje: Monserrat Vargas </li>
</lu>
<br>
<br>
Consultas: <a href="mailto:soporte.uabierta@u.uchile.cl" target="_blank">soporte.uabierta@u.uchile.cl</a>

</section>
