<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("FAQ")}</%block>

<section class="static-container faq">
<h1>${_("FAQ")}</h1>

<h2>${_("Sobre UAbierta")}</h2>

<p>
<strong>¿Qué es UAbierta?</strong>
UAbierta es la plataforma de cursos de extensión, masivos, abiertos y en línea de la 
Universidad de Chile. Lee más sobre nosotros en el <a href="/about">menú de inicio</a>.
<br>
<strong>¿Qué es el código de honor?</strong>
El código de honor es el compromiso que adquieres al inscribirte en un curso de la 
plataforma UAbierta. Se basa en seis puntos principales respecto a tu conducta y actitud 
ante el aprendizaje activo. Te recomendamos revisar el <a href="/honor">código de honor</a> periódicamente 
para estar familiarizado con eventuales actualizaciones.
<br>
<strong>¿Qué equipamiento debo tener para tomar un curso de UAbierta?</strong>
<br>
Debes contar con acceso a un computador conectado a internet. Si bien nuestro sitio web 
está diseñado para ser visualizado desde diversos dispositivos, consideramos que funciona 
óptimamente en los navegadores Chrome  y Firefox. Si no los tienes, puedes descargarlos 
gratuitamente en 
<br>
https://support.google.com/chrome/answer/95346?hl=es-419
https://www.mozilla.org/es-CL/firefox/new/
<br>
<strong>¿Puedo tener más de una cuenta de usuario en UAbierta?</strong>
<br>
No, en la plataforma UAbierta no puedes registrarte con más de una cuenta de usuario, 
siempre usando información personal fidedigna. 
<br>
<strong>¿Los cursos de UAbierta entregan certificación, título o grado académico?</strong>
<br>
En la fase piloto (2015), los cursos de UAbierta de la Universidad de Chile otorgan una 
constancia en formato digital a quienes cumplan con las actividades obligatorias del curso. 
La hemos denominado “Constancia de Honor” porque está ligada a la conducta honesta que 
los usuarios deben observar al realizar un curso abierto. Consulta el <a href="/honor">código de honor</a>.
</p>

<h2>${_("Registro en UAbierta")}</h2>

<p>
¿Cómo me registro en UAbierta?

Para registrarte, dirígete al botón Regístrate que encontrarás en la página principal (en el 

ángulo superior derecho de la pantalla). Una vez ahí, introduce tus datos: nombre, apellidos, 

email, ciudad. Luego, debes aceptar los términos del servicio (condiciones de la plataforma) 

y el código de honor (compromiso de probidad para realizar tus cursos).

Si ya posees una cuenta Google puedes enlazar tu perfil también con los registros de 

UAbierta. De todas formas, deberás crear una contraseña especial para nuestra página.

A continuación recibirás un correo de activación de tu cuenta. Debes seguir las 

instrucciones de activación. Recuerda que tu usuario en el login de acceso es el correo 

electrónico con el que te registraste. ¡Listo, ya puedes inscribirte en los cursos que te 

interesen!

¿Cómo cambio mi contraseña?

Puedes cambiar la contraseña tantas veces como quieras. Para ello tendrás que acceder a 

tu sesión, dentro de ella encontrarás el botón resetear contraseña.

¿Qué pasa si olvido mi contraseña?

Si al iniciar sesión olvidaste tu contraseña, haz clic en el botón ¿olvidó su contraseña? 

Introduce el correo electrónico con el que te registraste para restablecer la contraseña. 

Luego, haz clic en enviar y un correo electrónico llegará a tu correo con las instrucciones 

necesarias. Si no te llega el correo de activación, revisa las bandejas de spam (correo no 

deseado), por si el correo electrónico de activación llegó ahí. 

¿Cómo puedo cambiar mi correo con el que estoy registrado?

Para cambiar el correo de registro, accede a tu perfil de UAbierta y haz clic en editar 

correo, y en seguida en email escribe el nuevo correo. Haciendo clic en guardar, tus datos 

se habrán actualizado.

¿Puede caducar mi cuenta de usuario?

Sí, UAbierta se reserva el derecho de caducar la cuenta de aquellos usuarios que no 

respeten el Código de Honor.

</p>

<h2>${_("Antes de iniciar mi UAbierta")}</h2>
<p>
¿Cuánto cuestan los cursos en UAbierta?

Actualmente, los cursos existentes son libres de cobro para los participantes. Tampoco 

consideran cobros por materiales o por otro concepto.

¿Quiénes pueden tomar los cursos?

Todos pueden ser parte de los cursos UAbierta. No existen requisitos académicos previos 

para tomar los cursos. Son 100% abiertos a la comunidad. 

¿En qué horario se dictan los cursos?

No existen horarios asociados a los cursos, puesto que todos los materiales y recursos 

audiovisuales para ir avanzando en ellos están permanentemente disponibles en la 

plataforma UAbierta. 

¿Cuánto duran los cursos?

La duración aproximada de los cursos de UAbierta es de entre 5 y 6 semanas. 

¿Cuánto tiempo de estudio debo dedicarle a los cursos de UAbierta?

El tiempo de dedicación dependerá de cada curso y sus exigencias. Sin embargo, se estima 

una carga académica de 25 a 30 horas de estudio. Te recomendamos que revises el vídeo 

de introducción al curso y los requisitos previos que el equipo docente te proporcionará 

antes de iniciar.
</p>
<h2>${_("Durante el curso en UAbierta")}</h2>
<p>
Si tengo dudas durante el curso ¿A quién debo preguntar?

Cada uno de los cursos tiene un foro público de ayuda técnica y foros de contenidos. El 

equipo de UAbierta y la comunidad de aprendizaje estarán ahí para ayudarte a progresar en 

tus estudios.

¿Puedo tomar dos o más cursos a la vez?

Sí, puedes tomar dos o más cursos simultáneos mientras exista la oferta para hacerlo. 

Procura dedicar tiempo para la realización correcta y oportuna de cada uno de ellos y 

cumplir con los compromisos del código de honor. 

Existen cursos que tienen encuestas al inicio del curso. ¿Qué sucede si no las 

contesto? 

En general, las encuestas iniciales sirven para conocer mejor a quienes los cursan y para 

llevar estadísticas que nos permitan perfeccionar nuestro trabajo. Agradecemos que las 

contestes apenas te lo propongamos. 

¿Puedo realizar mis trabajos con ayuda de otros compañeros de curso en UAbierta?

En general, los trabajos y tareas de UAbierta se realizan en forma individual, a menos que 

los instructores o las reglas de algún curso en particular indiquen lo contrario. 

¿Es necesario participar de los foros para usuarios existentes en UAbierta?

UAbierta cree en la construcción colectiva del conocimiento. Por eso, te recomendamos 

usar activamente los foros y otros espacios dispuestos para la interacción de la comunidad.

¿Cómo puedo ver el progreso de mi curso? ¿Cómo saber qué me falta por hacer para 

completar el curso al 100%?

Para verificar tu avance, debes acceder a la plataforma y dirigirte al menú progreso que 

está al ingresar a cada curso abierto. 

¿Qué sucede si no termino un curso abierto?

Si sólo quieres ver alguna clase en particular y no completar todo el curso, no hay ningún 

problema. El curso completo estará disponible para todo el mundo, incluso si no ves todas 

las clases. De todas formas, te recomendamos finalizar el curso, para que puedas obtener 

una constancia de honor y aprender a cabalidad los contenidos.

¿Puedo tomar un nuevo curso, si no terminé uno anterior?

Sí, puedes iniciar un nuevo curso aún no habiendo terminado uno antes. De todos modos, 

procura terminar tus cursos de modo de no afectar la participación de otros en UAbierta. En 

esta fase piloto los cupos son limitados.
</p>

<h2>${_("Al finalizar mi curso UAbierta")}</h2>

<strong>¿Puedo incluir la constancia de honor en mi currículum vitae?</strong>
Por supuesto. Estos cursos están avalados por la Vicerrectoría de Extensión y 
Comunicaciones de la Universidad de Chile y las unidades académicas relacionadas a cada 
uno de ellos. Mantendremos en nuestra web un registro público de todos los participantes 
en cada versión del curso, de manera que se pueda verificar la información. 

<strong>¿Puedo descargar los materiales de los cursos y compartirlos con mis estudiantes?</strong>

¡Sí! Puedes descargar los materiales y compartir los vínculos de las videoclases, pues han 

sido pensadas para divulgar el conocimiento sin limitación de ninguna especie. Por 
supuesto, esperamos que tus acciones de divulgación sean sin fines de lucro, referenciando 
siempre a sus autores y al proyecto UAbierta de la Universidad de Chile.
</section>
