<%! from django.utils.translation import ugettext as _ %>

<%inherit file="../main.html" />

<%block name="pagetitle">${_("In the Press")}</%block>

<section class="container about">
<script type="text/javascript">
$.ajax({
    url: "http://172.27.162.14/desarrollos/edx_wp/?feed=atom",
    dataType: "xml",
    success: function(data) {
        //console.log(data);
        var $xml = $(data),
            items = [];
            var categories = ""; 

        $xml.find("entry").each(function(i) {
            var $this = $(this);
            console.log($this.find("title").text());
            console.log($this.find("pubDate").text());
            console.log($this.find("summary").text());
            
           
            var thehtml = '<h3><a " target="_blank">'+$this.find("title").text()+'</a></h3> <br> <p> Fecha:'+$this.find("published").text()+" <br> "+($this.find("content").text())+"</p>";
            $("#nouperss1").append(thehtml);
        });

        
    }
});
</script>

<h1>${_("Noticias")}</h1>
  <div id="nouperss1" class="feedcontainer"></div>


</section>
