<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Agenda")}</%block>

    
<section class="container about">

 <script type="text/javascript" language="javascript" >
  /**
 * parses any RSS/XML feed through Google and returns JSON data
 * source: http://stackoverflow.com/a/6271906/477958
 */
  function parseRSS(url, container) {
  $.ajax({
    url: document.location.protocol + '//ajax.googleapis.com/ajax/services/feed/load?v=1.0&num=10&callback=?&q=' + encodeURIComponent(url),
    dataType: 'json',
    success: function(data) {
           //console.log(data.responseData.feed);
      //$(container).html('<h2>'+capitaliseFirstLetter(data.responseData.feed.title)+'</h2>');

      $.each(data.responseData.feed.entries, function(key, value){
        //console.log(value);
        var arr = value.link.split('#');
        var text = value.content.split('<strong>Organiza:</strong>');
        var text2 =  text[1].split('<strong>Contacto:</strong>');
        var thehtml = '<h3><a href="'+value.link+'" target="_blank">'+value.title+'</a></h3> <br> <p> Fecha: '+arr[1].substring(0,4)+"/"+arr[1].substring(4,6)+"/"+arr[1].substring(6,8)+" Organiza: "+$(text2[0]).text()+"</p>";
        $(container).append(thehtml);
      });
    }
  });
}

/**
 * Capitalizes the first letter of any string variable
 * source: http://stackoverflow.com/a/1026087/477958
 */
function capitaliseFirstLetter(string) {
    return string.charAt(0).toUpperCase() + string.slice(1);
}

  </script>



<h1>${_("Agenda Universidad de Chile")}</h1>


<p>${_("")}</p>


  <div id="nouperss" class="feedcontainer"></div>

  <script type="text/javascript">
$(function(){
  // running custom RSS functions
  parseRSS(' http://www.uchile.cl/rss/agenda', '#nouperss');

});
</script>


</section>
