<%! from django.utils.translation import ugettext as _ %>

<%inherit file="../main.html" />

<%block name="pagetitle">${_("In the Press")}</%block>

<section class="container about">


<div class="row" style="border: 0px;margin:0px;padding:0px;">
  <div class="col-md-12" style="border-bottom: 1px solid #ddd;">
    <h1 style="float:left;"><h1>${_("Noticias")}</h1></h1>
  </div>
</div>  

  <div id="nouperss1" class="feedcontainer" style="border:0px solid #fff;"></div>


 <script type="text/javascript" language="javascript" >
  /**
 * parses any RSS/XML feed through Google and returns JSON data
 * source: http://stackoverflow.com/a/6271906/477958
 */
  function parseRSS(url, container) {
  $.ajax({
    url: document.location.protocol + '//ajax.googleapis.com/ajax/services/feed/load?v=1.0&num=10&callback=?&q=' + encodeURIComponent(url),
    dataType: 'json',
    success: function(data) {
    //console.log(data.responseData.feed);
    //$(container).html('<h2>'+capitaliseFirstLetter(data.responseData.feed.title)+'</h2>');

      $.each(data.responseData.feed.entries, function(key, value){
        console.log(value);
        var arr = value.link;
        var text = value.content;
        var thehtml = '<div class="row" style="border-bottom: 1px dotted #000"><div class="col-md12"><h1><i class="fa fa-newspaper-o"></i>'+value.title+'</h1></div>'+'<div class="col-md12"><p>'+ value.content+'</p></div></div>';
        $(container).append(thehtml);
      });
    }
  });
}

/**
 * Capitalizes the first letter of any string variable
 * source: http://stackoverflow.com/a/1026087/477958
 */
function capitaliseFirstLetter(string) {
    return string.charAt(0).toUpperCase() + string.slice(1);
}

  </script>

  <script type="text/javascript">
$(function(){
  // running custom RSS functions
  parseRSS(' http://wp.testingedx.tk?feed=atom', '#nouperss1');

});
</script>
</script>
</section>
