<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Contact")}</%block>

<section class="static-container contact">
<h1>${_("Contacto")}</h1>
<p>${_(

¿Ya eres parte de UAbierta? Si tienes dudas específicas sobre un curso, contáctate a través del 

foro técnico del mismo.")}</p> <br>
<p>${_(

Si aún no estás inscrito y tienes una pregunta general sobre UAbierta, visita nuestra sección de 

preguntas frecuentes. Si no has encontrado la respuesta, contáctanos al correo XXX, o completa 

y envía el siguiente formulario.")}</p>


</section>
