<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("UAbierta")}</%block>

<section class="static-container about">
<h1>${_("UAbierta")}</h1>
<p>${_("UAbierta, la plataforma de cursos abiertos y en línea de la Universidad de Chile, nace para 

expandir y democratizar el acceso al conocimiento, ofreciendo oportunidades formativas a todos 

quienes deseen aprender y desarrollarse, sin requisitos de estudios previos, proyectando así el 

compromiso histórico de la universidad con la educación pública de calidad más allá de sus 

fronteras y prácticas tradicionales.")}</p>
<br>
<br>
<p>${_("
En este sentido, UAbierta  también representa la voluntad de explorar y aprovechar las nuevas 

tecnologías educativas desde un enfoque de innovación pedagógica al servicio del mejoramiento 

de los procesos de enseñanza-aprendizaje, guiada por los principios y valores del trabajo 

colaborativo.

")}</p>

<p>${_("
UAbierta es un modelo de trabajo de extensión universitaria y vinculación con el medio impulsado 

por la Iniciativa Bicentenario (IB JGM), proyecto institucional de la Universidad de Chile financiado 

con fondos públicos que busca la revitalización de las Humanidades, Ciencias Sociales, Artes y 

Comunicación, ámbitos del conocimiento presentes en el campus Juan Gómez Millas.

")}</p>

<p>${_("
Desde 2014, IB JGM impulsa y financia el desarrollo de un modelo de sostenibilidad para UAbierta 

que considere y articule todos los factores críticos de éxito de un proyecto de esta naturaleza.

")}</p>

<p>${_("
Los tres primeros cursos han sido realizados con la participación de destacados académicos/as y 

profesionales provenientes de las distintas facultades que conviven en el campus Juan Gómez 

Millas. El proyecto ha contado con el apoyo en infraestructura del Instituto de la Comunicación e 

Imagen (equipamiento audiovisual y estudios de grabación) y del Centro Tecnológico del 

Departamento de Música y Sonología de la Facultad de Artes (postproducción de sonido).

")}</p>

<p>${_("
UAbierta ha sido desarrollada sobre openEDX, plataforma de aprendizaje en línea de código 

abierto de EDX, un consorcio de universidades y entidades educativas liderado por la Universidad 

de Harvard y el Instituto de Tecnología de Massachusetts (MIT), cuyo propósito es impulsar la 

investigación y la innovación tecnológica al servicio del mejoramiento de la calidad de la educación 

superior.
")}</p>

<p>${_("
Equipo UAbierta

Directores Iniciativa Bicentenario: Pablo Oyarzun R. y Loreto Rebolledo G. 

Dirección de proyecto: María José Vilches G. (Iniciativa Bicentenario JGM)

Coordinación ejecutiva: Rodrigo Hurtado O. (Facultad de Filosofía y Humanidades)

Coordinación contenidos y diseño instruccional: Cristóbal Feller V.

Coordinación audiovisual y dirección videoclases: Cristián Chamblas B. (ICEI) 

Producción audiovisual: Felipe Villarroel D. (ICEI)

Asistente dirección audiovisual y cámara: Leonardo Durán P. (ICEI)

Montaje y postproducción de imagen: Celeste Muñoz L. (ICEI)

Postproducción de sonido: Rubén Pérez A. (Facultad de Artes) 

Composición e interpretación musical: Diego de la Fuente C. (Facultad de Artes) 

Coordinación informática: César González B. (Administración Campus Juan Gómez Millas)

Desarrollo y administración de plataforma: Elías Estay C. (Administración Campus Juan Gómez Millas)
")}</p>

<p>${_("
Agradecimientos

Prof. Antonella Estévez (ICEI), Patricia Herrera (IBJGM), Sara Chauriye (IBJGM), Manuel Toledo-

Campos, Prof. Ricardo Pastene (Fac. de Artes), Prof. Diego Bustamante (Fac. de Artes), Prof. Daniel 

Álvarez V. (Fac. de Derecho), Paulina Fauné (IBJGM), Daniella Müller (VAEGI), Victoria Valdés (Desarrollador Frontend), 

Fernando Venegas (VID), Carolina Muñoz (VID), Fundación Desafío Levantemos Chile, Roberto 

Pérez (Logo), Gonzalo Contreras (Diseño), Stephanie Cobo, Vicerrectoría de Extensión y 

Comunicaciones U. de Chile.
")}</p>
</section>
