<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Contact")}</%block>

<section class="static-container contact">
<h1>${_("Contacto")}</h1>
<p>

Debido al receso legal de la Universidad de Chile durante el mes de febrero, nuestros canales 

informativos volverán a atender sus consultas desde el  1 de marzo de 2016<br> <br>

Si ya eres parte de UAbierta y tienes dudas específicas sobre un curso, revisa el foro técnico del 

mismo. Si aún no estás inscrito y tienes una consulta general sobre UAbierta, visita nuestra sección 

de preguntas frecuentes. Si no has encontrado la respuesta, contáctanos al correo soporte.uabierta(arroba)u.uchile.cl.
</p>
<!--
¿Ya eres parte de UAbierta? Si tienes dudas específicas sobre un curso, contáctate a través del 

foro técnico del mismo.<br>
<br>

Si aún no estás inscrito y tienes una pregunta general sobre UAbierta, visita nuestra sección de 
<a href="/faq">preguntas frecuentes</a>. Si no has encontrado la respuesta, contáctanos al correo soporte.uabierta(arroba)u.uchile.cl</p>
-->
</section>
