<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("UAbierta")}</%block>

<section class="static-container about">
<h1>${_("UAbierta")}</h1>
<p>
    UAbierta, plataforma de cursos abiertos y en línea de la Universidad de Chile,
    surge para expandir y democratizar el acceso al conocimiento, ofreciendo
    ooportunidades formativas a quienes deseen aprender de forma gratuita. 
    <strong>No hay requisitos de estudios previos para acceder a los cursos</strong>,
    proyectándose así el compromiso histórico de la Universidad con la educación pública de calidad,
    más allá de sus fronteras y prácticas tradicionales.
<br>
<br>

El proyecto, también, representa nuestra voluntad de explorar y aprovechar las
nuevas tecnologías educativas desde un enfoque de innovación pedagógica. Se plantea
como un modelo de trabajo de extensión universitaria y vinculación con el medio,
ligado estrechamente con la investigación y creación académica.

<br>
<br>

La plataforma nació en 2015, impulsada por la
 <a href="http://www.uchile.cl/iniciativaJGM"> Iniciativa Bicentenario</a> (IBJGM), proyecto institucional de la Universidad de Chile financiado con fondos
públicos, que está orientado a la revitalización de las Humanidades, Ciencias Sociales,
Artes y Comunicación.

<br>
<br>

Los cursos de UAbierta se realizan con la participación de destacados académicos
y académicas; así como, profesionales provenientes de las distintas facultades de
la Universidad de Chile, contando con el apoyo de la Vicerrectoría de Extensión y
Comunicaciones de nuestra casa de estudios.

<br>
<br>

UAbierta se desarrolla sobre <a href="https://open.edx.org/">OpenEDX</a>, plataforma de aprendizaje en línea de
código abierto de EDX, un consorcio de universidades y entidades educativas
lideradas por la Universidad de Harvard y el Instituto de Tecnología de
Massachusetts (MIT); cuyo propósito es impulsar la investigación y la innovación
tecnológica, al servicio del mejoramiento de la calidad de la educación superior.
<br>
<br>
Desde 2018, el Instituto de la Comunicación e Imagen y la Facultad de Ciencias
Sociales de la Universidad de Chile potencian y posibilitan la concreción de los
objetivos de UAbierta, mediante la producción y ejecución de nuevos cursos, con
excelentes resultados.
<br>
<br>
<strong>Coordinación General:</strong>
<ul>
	<li>María Elena Acuña M. Directora de Extensión de la Facultad de Ciencias Sociales	</li>
</ul>
<br>

<strong>Coordinación General:</strong>
<ul>
<li>	Secretaria  Ejecutiva : Alejandra Cornejo	</li>
<li>	Secretario Técnico: Bran Montiel	</li>
<li>	Coordinación Operativa: Ricardo Madrid F.	</li>

</ul>

<br>

<strong>Coordinación General:</strong>

<ul>
<li> Ximena Póo, Directora de Extensión, VEXCOM Universidad de Chile	</li>
<li> Fernando Gaspar, Director de Creación Artística	</li>
<li> Paola Jirón, académica Facultad de Arquitectura y Urbanismo	</li>
<li> José Miguel Labrín, académico Instituto de la Comunicación e Imagen	</li>
<li> Carolina Gutiérrez, Proyecto Asociativo Regional Explora de CONICYT RM Sur Oriente, Facultad de Ciencias Veterinarias y Pecuarias 	</li>
<li> Camilo Morales, Coordinador Programa Interdisciplinario en Infancias, Facultad de Ciencias Sociales	</li>
</ul>

<br>

<strong>Coordinación General:</strong>
<ul>
<li>	Megatutoría y mesa de soporte: Silvia Carozzi V. y Raúl Domenech C.	</li>
<li>	 Coordinación informática: Elías Estay	</li>
<li>	 Diseño Gráfico: Gonzalo Contreras	</li>
<li>	 Difusión Ricardo Madrid F.	</li>
</ul>
<br>
Consultas: <a href="mailto:soporte.uabierta@u.uchile.cl" target="_blank">soporte.uabierta@u.uchile.cl</a>
<br>
Contacto de prensa: <a href="mailto:ricardo.madrid@ug.uchile.cl" target="_blank">ricardo.madrid@ug.uchile.cl</a>

</section>
