<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Agenda")}</%block>

    
<section class="container about">

 <script type="text/javascript" language="javascript" >
  /**
 * parses any RSS/XML feed through Google and returns JSON data
 * source: http://stackoverflow.com/a/6271906/477958
 */
  function parseRSS(url, container) {
  $.ajax({
    url: document.location.protocol + '//ajax.googleapis.com/ajax/services/feed/load?v=1.0&num=10&callback=?&q=' + encodeURIComponent(url),
    dataType: 'json',
    success: function(data) {
           //console.log(data.responseData.feed);
      //$(container).html('<h2>'+capitaliseFirstLetter(data.responseData.feed.title)+'</h2>');

      $.each(data.responseData.feed.entries, function(key, value){
        //console.log(value);
        var arr = value.link.split('#');
        var text = value.content.split('<strong>Organiza:</strong>');
        var text2 =  text[1].split('<strong>Contacto:</strong>');
        var thehtml = '<div class="row" style="border-bottom: 1px dotted #000"><div class="col-md-3"><p><img src="${static.url(\\'themes/{theme_name}/images/portada/calendar.png\\'.format(theme_name=settings.THEME_NAME))}">'+arr[1].substring(0,4)+"/"+arr[1].substring(4,6)+"/"+arr[1].substring(6,8)+"<br><img src=\'${static.url(\\'themes/{theme_name}/images/portada/clock.png\\'.format(theme_name=settings.THEME_NAME))}\'>"+arr[1].substring(9,14)+'</div><div class="col-md-9"><p><a href="'+value.link+'" target="_blank">'+value.title+'</a><br>Organiza: '+$(text2[0]).text()+'</p></div></div>';
        $(container).append(thehtml);
      });
    }
  });
}

/**
 * Capitalizes the first letter of any string variable
 * source: http://stackoverflow.com/a/1026087/477958
 */
function capitaliseFirstLetter(string) {
    return string.charAt(0).toUpperCase() + string.slice(1);
}

  </script>



<div class="row" style="border: 0px;margin:0px;padding:0px;">
  <div class="col-md-12" style="border-bottom: 1px solid #ddd;">
    <h1 style="float:left;">${_("Agenda Universidad de Chile")}</h1>
  </div>
</div>    

<div id="nouperss" class="feedcontainer" style="border:0px solid #fff;"></div>

  <script type="text/javascript">
$(function(){
  // running custom RSS functions
  parseRSS(' http://www.uchile.cl/rss/agenda', '#nouperss');

});
</script>


</section>
