header.global h1.logo {
display: none;
}
.view-login .content-wrapper, .view-passwordreset .content-wrapper, .view-register .content-wrapper, body .content-wrapper {
width: auto;
height: auto;
margin: 0;
padding: 0;
background: 0 0;
padding-bottom: 40px;
background-color: #fff;
}
header.global .nav-global {
margin-top: 10px;
list-style: none;
float: right;
padding-left: 10px;
}
.navbar {
position: relative;
min-height: 50px;
margin-bottom: 0px;
border: 1px solid transparent;
background-color: #fff;
}
.navbar-nav {
float: left;
margin-top: 50px;
}
.navbar-static-top {
border-radius: 0;
background-color: #fff;
}
.view-login header.global, .view-login header.global-new, .view-login header.global.slim, .view-passwordreset header.global, .view-passwordreset header.global-new, .view-passwordreset header.global.slim, .view-register header.global, .view-register header.global-new, .view-register header.global.slim, body header.global, body header.global-new, body header.global.slim {
width: auto;
height: auto;
position: relative;
min-height: 50px;
padding: 0;
border: 0 none;
background-color: #fff !important;
margin-bottom: 0;
box-shadow: none;
border-radius: 0!important;
}
.view-login header.global-new>nav .nav-global a.cta-register, .view-login header.global.slim>nav .nav-global a.cta-register, .view-login header.global>nav .nav-global a.cta-register, .view-passwordreset header.global-new>nav .nav-global a.cta-register, .view-passwordreset header.global.slim>nav .nav-global a.cta-register, .view-passwordreset header.global>nav .nav-global a.cta-register, .view-register header.global-new>nav .nav-global a.cta-register, .view-register header.global.slim>nav .nav-global a.cta-register, .view-register header.global>nav .nav-global a.cta-register, body header.global-new>nav .nav-global a.cta-register, body header.global.slim>nav .nav-global a.cta-register, body header.global>nav .nav-global a.cta-register {
display: block;
width: auto;
height: auto;
font: inherit;
background: 0 0;
display: inline-block;
font-weight: 400;
text-align: center;
vertical-align: middle;
-ms-touch-action: manipulation;
touch-action: manipulation;
cursor: pointer;
background-image: none;
border: 1px solid transparent;
white-space: nowrap;
font-size: 16px;
line-height: 1.625;
border-radius: 4px;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
color: #00aff0;
background-color: #fff;
border-color: #00aff0;
text-shadow: none;
text-overflow: ellipsis;
transition: all .1s ease-in;
box-shadow: none;
margin: 0;
padding: .5em 1.2em;
outline: 0;
overflow: hidden;
text-transform: none;
}
header.global .nav-courseware li, header.global .nav-courseware div {
display: inline-block;
margin-top: 10px;
}
.view-login header.global-new>nav .nav-global a.cta-register,.view-login header.global.slim>nav .nav-global a.cta-register,.view-login header.global>nav .nav-global a.cta-register,.view-passwordreset header.global-new>nav .nav-global a.cta-register,.view-passwordreset header.global.slim>nav .nav-global a.cta-register,.view-passwordreset header.global>nav .nav-global a.cta-register,.view-register header.global-new>nav .nav-global a.cta-register,.view-register header.global.slim>nav .nav-global a.cta-register,.view-register header.global>nav .nav-global a.cta-register,body header.global-new>nav .nav-global a.cta-register,body header.global.slim>nav .nav-global a.cta-register,body header.global>nav .nav-global a.cta-register:hover
{
	background-color: #00aff0;
	color: #fff;
}
.view-login, .view-passwordreset, .view-register, body {
background-color: #fff;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
border-color: #fff;
}
input[type="submit"]:hover:not(:disabled), input[type="button"]:hover:not(:disabled), button:hover:not(:disabled), .button:hover:not(:disabled) {
cursor: pointer;
background-color: #108ec7;
background-image: none;
background-image: none;
}
.navbar-brand{
    width: 100%;
    height: 100%;      
}
.navbar-toggle {
position: relative;
float: right;
margin-right: 15px;
padding: 9px 10px;
margin-top: 8px;
margin-bottom: 8px;
background-color: transparent;
background-image: none;
border: 1px solid #00aff0;
border-radius: 4px;
}
.navbar-toggle .icon-bar {
display: block;
width: 22px;
height: 2px;
border-radius: 1px;
background-color: #00aff0;
}
.navbar-nav>li>a:hover {
background-color: #BBEEFF;
}
@media (max-width: 480px){
.view-login header.global-new>nav .nav-global, .view-login header.global.slim>nav .nav-global, .view-login header.global>nav .nav-global, .view-passwordreset header.global-new>nav .nav-global, .view-passwordreset header.global.slim>nav .nav-global, .view-passwordreset header.global>nav .nav-global, .view-register header.global-new>nav .nav-global, .view-register header.global.slim>nav .nav-global, .view-register header.global>nav .nav-global, body header.global-new>nav .nav-global, body header.global.slim>nav .nav-global, body header.global>nav .nav-global {
display: table;
}
.navbar-nav {
float: left;
margin-top: 0px;
width: 100%;
}
}
.social-item{
	list-style:none;
}
.content-wrapper>.home>header {
width: auto;
height: auto;
box-shadow: none;
background-size: 100% 100%;
border: none;
background-image: none;
margin: 0;
padding: 0px;
}
.content-wrapper>.home {
margin: 0;
background: #3299cc;
}