<%! from django.utils.translation import ugettext as _ %>

<%! from django.core.urlresolvers import reverse %>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>

<%! from microsite_configuration import microsite %>

<%
  homepage_overlay_html = microsite.get_value('homepage_overlay_html')
  show_homepage_promo_video = microsite.get_value('show_homepage_promo_video', True)
  homepage_promo_video_youtube_id = microsite.get_value('homepage_promo_video_youtube_id', "SCXWGBImpNA")
  show_partners = microsite.get_value('show_partners', False)
  platform_name = microsite.get_value('platform_name', 'UAbierta')
%>

<section class="home" >
  <header>


 
          % if homepage_overlay_html:
            ${homepage_overlay_html}
          % else:
            % if self.stanford_theme_enabled():
              <h1>${_("Industry leading courses from <strong>{university_name}</strong>").format(university_name="Stanford")}</h1>
            % else:
                
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="border-bottom: 5px solid #00aff0;">

  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>
 

  <div class="carousel-inner" style="border-top: 5px solid #00aff0;">
    <div class="item active">
      <img src="${static.url('themes/{theme_name}/images/portada/banner1.png'.format(theme_name=settings.THEME_NAME))}">
      <div class="carousel-caption">
          <h3 style="font-size: 28px;text-shadow: 1px 1px 10px rgba(0,0,0,.9);"></h3>
      </div>
    </div>
    <div class="item">
      <img src="${static.url('themes/{theme_name}/images/portada/banner2.png'.format(theme_name=settings.THEME_NAME))}">
      <div class="carousel-caption">
          <h3 style="font-size: 28px;text-shadow: 1px 1px 10px rgba(0,0,0,.9);"></h3>
      </div>
    </div>
    <div class="item">
      <img src="${static.url('themes/{theme_name}/images/portada/banner3.png'.format(theme_name=settings.THEME_NAME))}">
      <div class="carousel-caption">
          <h3 style="font-size: 28px;text-shadow: 1px 1px 10px rgba(0,0,0,.9);"></h3>
      </div>
    </div>
  </div>
 
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span><img src="${static.url('themes/{theme_name}/images/portada/prev.png'.format(theme_name=settings.THEME_NAME))}" class="img-responsive" style="padding-top: 30%;"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span><img src="${static.url('themes/{theme_name}/images/portada/next.png'.format(theme_name=settings.THEME_NAME))}" class="img-responsive" style="padding-top: 30%;"></span>
  </a>

</div> 

##              <h1>${_("The Future of Cloud Training")}</h1>
            % endif
##            <h2>${_("Realize your dream, anywhere, anytime.")}</h2>
          % endif


        ## Disable social buttons for non-edX sites
        % if not self.theme_enabled():
          <section class="actions">
            <div class="main-cta">
              <a href="#signup-modal" id="signup_action" class="find-courses" rel="leanModal">${_("Sign Up")}</a>
            </div>

            <div class="secondary-actions">
              <div class="social-sharing">
                <div class="sharing-message">${_("Stay up to date with all {platform_name} has to offer!").format(platform_name=settings.PLATFORM_NAME)}</div>
                <a href="https://twitter.com/beacloudgenius" class="share">
                  <img src="${static.url('images/social/twitter-sharing.png')}">
                </a>
                <a href="http://www.facebook.com/beacloudgenius" class="share">
                  <img src="${static.url('images/social/facebook-sharing.png')}">
                </a>
                <a href="https://plus.google.com/+NileshLondheHere/posts" class="share">
                  <img src="${static.url('images/social/google-plus-sharing.png')}">
                </a>
              </div>
            </div>
          </section>
          % endif
      % if show_homepage_promo_video:
      <section class="container">
        <div class="row no-background">
          <div class="col-md-8">
            <h2 class="h2-blue">Universidad abierta: Democratizando el conocimiento</h2>
            <p class="p2-blue">En línea con las nuevas tendencias en educación superior que lideran las mejores universidades del mundo, la plataforma UAbierta de la Universidad de Chile ofrece cursos abiertos en temas de interés social, aportando así al fortalecimiento de la educación pública y de calidad para todas y todos</p>
            </div>
              <div class="col-md-4">
               <a href="#video-modal" class="media" rel="leanModal">
                 <div class="hero">
                   <div class="play-intro"></div>
                 </div>
               </a>
              </div>
        </div>
      </section>
      % endif
  </header>
<div class="cursos_online" style="background-color: #FFF;
margin: 0;
border: none;
text-align: center;
font-size: 26px;
font-weight: 300;
color: #126f9a;
padding: 10px 0;"><h2>Cursos Abiertos</h2></div>

    <div style="margin:0px;padding:0px;line-height: 0px;"><center><img src="${static.url('themes/{theme_name}/images/portada/courses-arrow.png'.format(theme_name=settings.THEME_NAME))}" style="margin:0px;padding:0px"></center></div>
  <section class="container">
    <section class="highlighted-courses">

      % if settings.FEATURES.get('COURSES_ARE_BROWSABLE'):
        <section class="courses">
            <ul class="courses-listing">
            %for course in courses:
              <li class="courses-listing-item">
                <%include file="course.html" args="course=course" />
              </li>
            %endfor
            </ul>
        </section>
      % endif

    </section>
  </section>
</section>

<section id="video-modal" class="modal home-page-video-modal video-modal">
  <div class="inner-wrapper">
    <%
      youtube_video_id = homepage_promo_video_youtube_id
      if self.stanford_theme_enabled():
        youtube_video_id = "2gmreZObCY4"
    %>
    <iframe width="640" height="360" src="//www.youtube.com/embed/${youtube_video_id}?showinfo=0" frameborder="0" allowfullscreen></iframe>
  </div>
</section>

<%block name="js_extra">
   <script type="text/javascript">
      $(window).load(function() {
         if(getParameterByName('next')) {
              $('#login').trigger("click");
         }
      })
   </script>
</%block>

% if show_signup_immediately is not UNDEFINED:
  ## NOTE: This won't work in production, because anonymous views are cached, so it will
  ## show either with or without this extra js for 3 minutes at a time.
<script type="text/javascript">
  $(window).load(function() {$('#signup_action').trigger("click");});

</script>
% endif
<script>
$( document ).ready(function() {
  // Handler for .ready() called.
      $('#carousel-example-generic').carousel();
});

</script>
