## mako
<%namespace name='static' file='/static_content.html'/>
<%inherit file="/navigation.html"/>

<%! from microsite_configuration.templatetags.microsite import platform_name %>

<%block name="navigation_top">
    <header class="global " aria-label="Global Navigation">
        <nav>
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="${static.url('themes/{theme_name}/images/portada/logo5.png'.format(theme_name=settings.THEME_NAME))}"/></a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="#">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
         <a class="navbar-brand" href="#"><img src="${static.url('themes/{theme_name}/images/portada/logo5.png'.format(theme_name=settings.THEME_NAME))}"/></a>
      </nav>
    </header>    
</%block>

    


## When unauthenticated, only show the about page link
    <%block name="navigation_global_links"></%block>

    
