## mako
<%! from django.utils.translation import ugettext as _ %>
<%! from microsite_configuration.templatetags.microsite import platform_name %>
<%namespace name='static' file='/static_content.html'/>
<%inherit file="/navigation.html"/>

<%! from microsite_configuration.templatetags.microsite import platform_name %>

<%block name="navigation_top">
    <header class="global " aria-label="Global Navigation" style="border-top: 5px solid #00aff0;">
        <nav>
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img src="${static.url('themes/{theme_name}/images/portada/logo_cabecera.png'.format(theme_name=settings.THEME_NAME))}"/>
              </a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="/">Inicio</a></li>
              %if settings.MKTG_URL_LINK_MAP.get('ABOUT'):
                    <li style="">
                      <a href="${marketing_link('ABOUT')}">${_("UAbierta")}</a>
                    </li>
              %endif
              %if settings.MKTG_URL_LINK_MAP.get('NEWS'):
                    <li style="">
                      <a href="${marketing_link('NEWS')}">${_("Noticias")}</a>
                    </li>
              %endif
              %if settings.MKTG_URL_LINK_MAP.get('AGENDA'):
                    <li style="">
                      <a href="${marketing_link('AGENDA')}">${_("Agenda")}</a>
                    </li>
              %endif
                            %if settings.MKTG_URL_LINK_MAP.get('FAQ'):
                    <li style="">
                      <a href="${marketing_link('FAQ')}">${_("FAQ")}</a>
                    </li>
              %endif
              %if settings.MKTG_URL_LINK_MAP.get('CONTACT'):
                    <li style="">
                      <a href="${marketing_link('CONTACT')}">${_("Contacto")}</a>
                    </li>
              %endif
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>
    </header>    
</%block>

    


## When unauthenticated, only show the about page link
    <%block name="navigation_global_links"></%block>

    
