## mako
<%! from django.utils.translation import ugettext as _ %>
<%! from microsite_configuration.templatetags.microsite import platform_name %>
<%namespace name='static' file='static_content.html'/>

    
<footer>
  <div class="footer-container">
      <center>
      <div name="menu-inferior">
        <img src="${static.url('themes/{theme_name}/images/portada/logo_pie_1.jpg'.format(theme_name=settings.THEME_NAME))}"/>
        <img src="${static.url('themes/{theme_name}/images/portada/logo_pie_2.jpg'.format(theme_name=settings.THEME_NAME))}"/>
        <img src="${static.url('themes/{theme_name}/images/portada/logo_pie_3.jpg'.format(theme_name=settings.THEME_NAME))}"/>
        <img src="${static.url('themes/{theme_name}/images/portada/logo_pie_4.jpg'.format(theme_name=settings.THEME_NAME))}"/>

         <p>&nbsp;</p>
        </div>
      </center> 
      </div>    
</footer>    
    
<footer style="background-color: #e4e4e4; color: #00aff0; border-bottom: 5px solid #00aff0;">
  <div class="footer-container">
      <div>
          
          <div  style="float: left; padding-bottom: 4px;">
              <img src="${static.url('themes/{theme_name}/images/portada/logo_bajada_chico.png'.format(theme_name=settings.THEME_NAME))}"/>
                ##           <p>&nbsp;</p>

              ##<p style="text-align:justify"></p>
              
                   ## <p class="copyright">${_(u"© 2011-2015 {platform_name}, todos los derechos reservados.").format(platform_name=platform_name())} <a href="http://code.edx.org">Open edX.</a>
                   <p class="copyright"> <a href="http://code.edx.org"> ${_(u"© Uabierta, Universidad de Chile, OpenEDX, 2015").format(platform_name=platform_name())}</a>
      			   
      	</p>
          </div>
          ##<div style="float: left; width: 70%;">
          <div style="float: left; width: 75%;">
              <p><b></b></p>
              <nav style="">
              <ul style="">
                    %if settings.MKTG_URL_LINK_MAP.get('ABOUT'):
                    <li style="">
                      <a id="about" href="${marketing_link('ABOUT')}">${_("About")}</a>
                    </li>
                    %endif
                    %if settings.MKTG_URL_LINK_MAP.get('FAQ'):
                    <li style="">
                      <a id="faq" href="${marketing_link('FAQ')}">${_("FAQ")}</a>
                    </li>
                    %endif
                    %if settings.MKTG_URL_LINK_MAP.get('CONTACT'):
                    <li style="">
                      <a id="contact" href="${marketing_link('CONTACT')}">${_("Contact")}</a>
                    </li>
                    %endif
                    %if settings.MKTG_URL_LINK_MAP.get('TOS'):
                    <li style="">
                      <a href="${marketing_link('TOS')}">${_(u"Términos de uso")}</a>
                    </li>
                    %endif
                    %if settings.MKTG_URL_LINK_MAP.get('HONOR'):
                    <li style="">
                      <a href="${marketing_link('HONOR')}">${_(u"Código de honor")}</a>
                    </li>
                    %endif
                    ##%if settings.MKTG_URL_LINK_MAP.get('PRIVACY'):
                    ##<li style="">
                    ##  <a href="${marketing_link('PRIVACY')}">${_("Privacy Policy")}</a>
                    ##</li>
                    ##%endif
                    %if settings.MKTG_URL_LINK_MAP.get('AGENDA'):
                    <li style="">
                      <a href="${marketing_link('AGENDA')}">${_("Agenda")}</a>
                    </li>
                    %endif
                </ul>
              </nav>
          </div>
          ##<div style="float: right; width: 30%;">
          <div style="float: right; width: 25%;">
              <p><b>Síguenos</b></p>
              
              <nav>
                  <lu class="list-inline">
                           <li class="social-item"><a href="https://www.facebook.com/UAbiertaUChile" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
                    </li>
                    <li class="social-item"><a href="https://instagram.com/explore/tags/uabiertauchile/" target="_blank"><i class="fa fa-instagram fa-lg"></i></a>
                    </li>
                    <li class="social-item"><a href="https://www.youtube.com/channel/UCKr4gfL_MGbCDECDtPOGdXw?view_as=public" target="_blank"><i class="fa fa-youtube fa-lg"></i></a>
                    </li>
                    <li class="social-item"><a href="https://twitter.com/UAbiertaUchile" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
                    </li>
                    ##<li class="social-item"><a href="https://plus.google.com/+uchile/posts" target="_blank"><i class="fa fa-google-plus fa-lg"></i></a>
                    ##</li>
                    ##<li class="social-item"><a href="https://www.linkedin.com/edu/school?id=10960" target="_blank"><i class="fa fa-linkedin fa-lg"></i></a>
                    ##</li>
                <lu>
              </nav>
          </div>
          
      </div>
                   <p>&nbsp;</p>

    <div>
             <p>&nbsp;</p>

    </div>
    <div class="by-uchile">
      <a href="/">
##        <img  src="${static.url('themes/{theme_name}/images/portada/logo1.png'.format(theme_name=settings.THEME_NAME))}" width="47" height="32" alt="Be a Cloud Genius">
##      </a>
    </div>
  </div>
   <script src="${static.url('themes/{theme_name}/css/bootstrap.min.js'.format(theme_name=settings.THEME_NAME))}"></script>
          
</footer>
