## mako
<%namespace name='static' file='/static_content.html'/>
<%inherit file="/navigation.html"/>

<%! from microsite_configuration.templatetags.microsite import platform_name %>

<%block name="navigation_top">
</%block>

<%block name="navigation_logo">
  ${platform_name()}
</%block>

## When unauthenticated, only show the about page link
<%block name="navigation_global_links">
    <li class="nav-global-01">
         <a href"">Nosotros</a>
</li>

<li class="nav-global-02">
         <a href"">Cursos</a>
</li>
<li class="nav-global-03">
         <a href"">Proyecto Bicentenario</a>
</li>

</%block>
