## mako
<%! from django.utils.translation import ugettext as _ %>
<%! from microsite_configuration.templatetags.microsite import platform_name %>
<%namespace name='static' file='static_content.html'/>

<footer>
  <div class="footer-container">
      <div name="menu-inferior">
        <img src="${static.url('themes/{theme_name}/images/logo1.gif'.format(theme_name=settings.THEME_NAME))}"/>
        <img src="${static.url('themes/{theme_name}/images/logo1.gif'.format(theme_name=settings.THEME_NAME))}"/>
        <img src="${static.url('themes/{theme_name}/images/logo1.gif'.format(theme_name=settings.THEME_NAME))}"/>
        <img src="${static.url('themes/{theme_name}/images/logo1.gif'.format(theme_name=settings.THEME_NAME))}"/>
         <p>&nbsp;</p>

    </div>
      <div>
              <img src="${static.url('themes/{theme_name}/images/logo5.gif'.format(theme_name=settings.THEME_NAME))}" width="100%"/>
            <p>&nbsp;</p>
      </div>
      
      <div>
          <div  style="float: left; width: 50%;">
              <img src="${static.url('themes/{theme_name}/images/logochico.gif'.format(theme_name=settings.THEME_NAME))}" width="100%"/>
              <p>EdX offers interactive online classes and MOOCs from the world’s best universities, colleges and organizations. Online courses from MITx, HarvardX, BerkeleyX, UTx and many other universities. Topics include biology, business, chemistry, computer science, economics, finance, electronics, engineering, food and nutrition, history, humanities, law, literature, math, medicine, music, philosophy, physics, science, statistics and more. EdX is a non-profit online initiative created by founding partners Harvard and MIT.</p>
          </div>
          <div style="float: left; width: 25%;">
              <p>div2</p>
          </div>
          <div style="float: left; width: 25%;">
              <p>div3</p>
          </div>
      </div>
      
    <nav class="nav">
      <ul>
        %if settings.MKTG_URL_LINK_MAP.get('ABOUT'):
        <li>
          <a id="about" href="${marketing_link('ABOUT')}">${_("About")}</a>
        </li>
        %endif
        %if settings.MKTG_URL_LINK_MAP.get('FAQ'):
        <li>
          <a id="faq" href="${marketing_link('FAQ')}">${_("FAQ")}</a>
        </li>
        %endif
        %if settings.MKTG_URL_LINK_MAP.get('CONTACT'):
        <li>
          <a id="contact" href="${marketing_link('CONTACT')}">${_("Contact")}</a>
        </li>
        %endif
        %if settings.MKTG_URL_LINK_MAP.get('TOS'):
        <li>
          <a href="${marketing_link('TOS')}">${_("Terms of Service")}</a>
        </li>
        %endif
        %if settings.MKTG_URL_LINK_MAP.get('HONOR'):
        <li>
          <a href="${marketing_link('HONOR')}">${_("Honor Code")}</a>
        </li>
        %endif
        %if settings.MKTG_URL_LINK_MAP.get('PRIVACY'):
        <li>
          <a href="${marketing_link('PRIVACY')}">${_("Privacy Policy")}</a>
        </li>
        <li class="social-item"><a href="http://www.facebook.com/beacloudgenius" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
        </li>
        <li class="social-item"><a href="http://www.instagram.com/beacloudgenius" target="_blank"><i class="fa fa-instagram fa-lg"></i></a>
        </li>
        <li class="social-item"><a href="https://www.youtube.com/channel/UCvygomQdqFv_p0c00EYufPA" target="_blank"><i class="fa fa-youtube fa-lg"></i></a>
        </li>
        <li class="social-item"><a href="http://www.twitter.com/beacloudgenius" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
        </li>
        <li class="social-item"><a href="https://plus.google.com/+NileshLondheHere/photos" target="_blank"><i class="fa fa-google-plus fa-lg"></i></a>
        </li>
        <li class="social-item"><a href="https://www.linkedin.com/edu/alumni?name=Cloud+Genius" target="_blank"><i class="fa fa-linkedin fa-lg"></i></a>
        </li>
        %endif
      </ul>
    </nav>
    <div>
      <p class="copyright">${_(u"© 2011-2015 {platform_name}, all rights reserved.").format(platform_name=platform_name())}
        Powered by <a href="http://code.edx.org">Open edX.</a>
      </p>
    </div>
    <div class="by-uchile">
      <a href="//be.a.cloudgeni.us">
        <img src="${static.url('themes/{theme_name}/images/logo-x-white-small.png'.format(theme_name=settings.THEME_NAME))}" width="47" height="32" alt="Be a Cloud Genius">
      </a>
    </div>
  </div>
</footer>
